extends layout

block content
    .container#alta
          #altaPanel.row
             h3 #{title}
             p Alta de evento
          form(role='form', method='POST' action='/insert')
              .form-group
                label() Título
                input#title.form-control(type='text', name='titleForm', placeholder='Campo de texto', value="Título")
              .form-group
                label() Subtítulo
                input#subtitle.form-control(type='text', name='subtitleForm', placeholder='Campo de texto', value="Subtítulo")
              .row
                  .form-group.col-sm-4
                    label() Url Imagen
                    input#url.form-control(type='text', name='urlForm', placeholder='http://imagen.jpg', value="http://www.anipedia.net/images/accesorios-perros.jpg")
                  .form-group.col-sm-8
                    label() Fecha de inicio:
                    input#initDate.date(type='text', name='initDateForm', placeholder='DD/MM/YYYY', value="13/05/2016")
                    label()#dateend Fecha final de evento:
                    input#endDate.date(type='text', name='endDateForm', placeholder='DD/MM/YYYY', value="23/05/2016")
              .form-group.row#descript
                label() Explica en que consiste el evento
                textarea#description.form-control(rows='3', name='descriptionForm')
              .form-group
              .checkbox
                label
                  input#isActive(type='checkbox', name='isActiveForm')
                  |  Activar evento
              input#add-alta.btn.btn-info.col-sm-2(type='submit', value="Crear")
            form(role='form', method='POST' action='/')
                input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
