extends layout

block content
    .msg
      h3 #{title}
      pre #{msg}
      form(role='form', method='POST' action='/')
        input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
