extends layout

block content
     .container#init
      .jumbotron
        form(role='form', method='POST' action='/logout')
            button#add-logout.btn.btn-info.col-sm-1(type='submit')
                i.fa.fa-sign-out
        .row
            .col-sm-6
                img#initLogo(src='/images/Eventclick.png', alt='EventClick')
            .col-sm-6
                h2 Crea y gestiona tus eventos
        form(role='form', method='POST' action='/allevents')
            button#add-allevents.btn.btn-info(type='submit') Ver eventos
        if accessUser.isAdmin == "true"
            form(role='form', method='POST' action='/alta')
                button#add-new.btn.btn-info(type='submit') Nuevo evento
            form(role='form', method='GET' action='/usermails')
                button#add-usermails.btn.btn-info(type='submit') Gestión usuarios
        else
      .row
        h1 Eventos
        #listaEventClick
            each eventClick in listaEventClick
                form(role='form', method='POST' action='/show')
                    .ev.col-sm-3(style="background-image:url('#{eventClick.url}');background-size:cover;padding: 0px;width: 40%;height: 150px;")
                        .ev2(style="background-color: rgba(26, 87, 132, 0.65);")
                           input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                           button#add-show.btn.btn-info.btn-sm.col-sm-2(type='submit', value="")
                            i.fa.fa-eye
                           h2= eventClick.title
                           p= eventClick.endDate
