extends layout

block content
      .modal-dialog
        .loginmodal-container
          img#loginlogo(src='/images/Eventclick.png', alt='EventClick')
          h1 Introduce tu Login
          br
          label(style="color: red;") #{msg}
          form(role='form', method='POST' action='/login')
            input(type='text', name='user', placeholder='Username', value='Jaime')
            input(type='password', name='pass', placeholder='Password', value='fjeclot')
            input.login.loginmodal-submit(type='submit', name='login', value='Login')
          .login-help
          form(role='form', method='POST' action='/register')
            input.login.loginmodal-submit(type='submit', name='login', value='Registrar')
