extends layout

block content
    .container#edit
          #notyPanel.row
             h2 Envío de notificación correcta
           form(role='form', method='POST' action='/')
                #{yo}
                input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
