extends layout

block content
    .container#userMailis
        form(role='form', method='POST' action='/logout')
            button#add-logout.btn.btn-info.col-sm-1(type='submit')
                i.fa.fa-sign-out
          #userMailisPanel.row
             h3 #{title}
             p Gestión de usuarios
             h2.col-sm-11 Lista de usuarios
             button#add-user.btn.btn-info.col-sm-1(type='submit')
                i.fa.fa-plus
          form(role='form', method='POST' action='/deleteUser')
             .input-group
                span.input-group-addon Filtrar
                input#filter.form-control(type='text', placeholder='Buscar...')
             table.table.table-hover
                thead
                  tr
                    th Nombre
                    th Correo
                    th Eliminar
                tbody.searchable
                    each user in users
                        tr
                            td #{user.name}
                            td #{user.email}
                            td
                                input(type='checkbox', name='isSend', value='#{user.email}')
             input#add-delete.btn.btn-info.col-sm-2(type='submit', value="Eliminar")
          form(role='form', method='POST' action='/')
            input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
    .container#addUserPanel
        form(role='form', method='POST' action='/altaUser')
            .form-group
                label() Nombre
                input#title.form-control(type='text', name='nombreForm', placeholder='Campo de texto')
            .form-group
                label() Correo electrónico
                input#subtitle.form-control(type='text', name='emailForm', placeholder='Campo de texto')
            input#add-altaMail.btn.btn-info(type='submit', value="Alta")
        input#add-cancel.btn.btn-info(type='submit', value="Cancelar")
