extends layout

block content
    .container#userMailis
          #userMailisPanel.row
             h3 #{title}
             p Gesti칩n de usuarios
          form(role='form', method='POST' action='/deleteUser')
             h2 Lista de usuarios
             .input-group
                span.input-group-addon Filtrar
                input#filter.form-control(type='text', placeholder='Buscar...')
             table.table.table-hover
                thead
                  tr
                    th Nombre
                    th Correo
                    th Enviar
                tbody.searchable
                    each user in users
                        tr
                            td #{user.name}
                            td #{user.email}
                            td
                                input(type='checkbox', name='isSend', value='#{user.email}')
             input#add-delete.btn.btn-info.col-sm-2(type='submit', value="Eliminar")
          form(role='form', method='POST' action='/')
            input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
          form(role='form')
            input#add-user.btn.btn-info(type='submit', value="A침adir")
    .container#addUserPanel
        form(role='form', method='POST' action='/altaUser')
            .form-group
                label() Nombre
                input#title.form-control(type='text', name='nombreForm', placeholder='Campo de texto', value="Nombre")
            .form-group
                label() Correo electr칩nico
                input#subtitle.form-control(type='text', name='emailForm', placeholder='Campo de texto', value="Correo electr칩nico")
            input#add-altaMail.btn.btn-info(type='submit', value="Alta")
        form(role='form')
            input#add-cancel.btn.btn-info(type='submit', value="Cancelar")
