#editionPanel {
    padding: 5px;
    border-radius: 10px;
    background-color: #5BC0DE;
    text-align: center;
}
.jumbotron {
    text-align: center;
}
#alta {}
.container {
    align-content: center;
}
