#editionPanel {
    padding: 5px;
    border-radius: 10px;
    background-color: #5BC0DE;
    text-align: center;
}
.container {
    align-content: center;
}
#descript {
    padding-left: 15px;
    padding-right: 15px;
}
#dateend,
{
    padding-left: 10px;
}
#add-putme {
    margin-left: 0%;
}
#add-show {
    margin-right: 0%;
}
i {
    content: "\f046";
    font-size: 18px;
    color: white;
}
.EventId {
    display: none;
}
.ev {
    border-radius: 15%;
    border: 2px solid #ccccff;
    padding: 2%;
    margin: 1% 1%;
}
input[type=submit] {
    margin-right: 5px;
    float: left;
}
#add-new {
    margin-right: 5px;
    float: left;
}
#imageView {
    width: 200px;
    height: 200px;
}
