#editionPanel {
    padding: 5px;
    border-radius: 10px;
    background-color: #5BC0DE;
    text-align: center;
}
.container {
    align-content: center;
}
#descript {
    padding-left: 15px;
    padding-right: 15px;
}
#dateend,
{
    padding-left: 10px;
}
#add-show {
    margin-right: 0%;
    text-align: center;
    margin: 10px;
    width: 45px;
}
i {
    content: "\f046";
    font-size: 18px;
    color: white;
}
.EventId {
    display: none;
}
.ev {
    border-radius: 15%;
    border: 2px solid #ccccff;
    padding: 2%;
    margin: 1% 1%;
}
input[type=submit] {
    margin-right: 5px;
    float: left;
    width: 150px;
}
#add-new,
#add-allevents,
#add-usermails,
#add-send,
#add-putme,
#add-init,
#add-delete,
#add-edit {
    position: relative;
    width: 120px;
    float: left;
    margin-right: 5px;
}
#imageView {
    width: 200px;
    height: 200px;
}
#listaEventClick form h3,
#listaEventClick form h2,
#listaEventClick form p {
    color: white;
}
.msg {
    margin: auto;
    width: 45%;
    padding: 10px;
}
